/*
RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 73.125rem;
    margin: 0 auto;
}
.container-div {
    display: flex;
    margin: 1.25rem 0;
}
.user {
    text-align: center;
    height: 6.25rem;
    width: 6.25rem;
    border: 1px solid black;
    padding: 2.8125rem;
    margin-right: .625rem;
    font-size: 1.25rem;
    background-color: #2b665e;
    color: white;
    font-weight: bold;
    border-radius: .9375rem;
}
.pc {
    text-align: center;
    height: 6.25rem;
    width: 6.25rem;
    border: 1px solid black;
    padding: 2.8125rem;
    margin-right: .625rem;
    font-size: 1.25rem;
    background-color: #2b665e;
    color: white;
    font-weight: bold;
    border-radius: .9375rem;
}
.result {
    text-align: center;
    height: 6.25rem;
    width: 6.25rem;
    border: 1px solid black;
    padding: 1.25rem;
    font-size: 1.25rem;
    background-color: #2b665e;
    color: white;
    border-radius: .9375rem;
}
button {
    font-size:15px;
    font-family:Arial;
    width: 6.25rem;
    height: 3.125rem;
    border-width:1px;
    color:#fff;
    border-color:#566963;
    font-weight:bold;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    text-shadow:inset 0px -1px 0px #2b665e;
    background:linear-gradient(#768d87, #6c7c7c);
}
button:hover {
    background: linear-gradient(#6c7c7c, #768d87);
}
.output-container {
    display: flex;
}